.post {
  width: 95%;
  max-width: 800px;
  margin: 1em auto;
}

[class*="badge"]:hover,
[class*="badge"]:focus {
  box-shadow: 1px 1px 10px black;
}

.post__body--subtitle {
  margin: 1.2em 0 0.5em;
  border-bottom: 1px solid darkslateblue;
  border-top: 1px solid coral;
  border-radius: 20px;
  padding: 0.3em;
  font-size: 1.3rem;
}

.post__body--parag {
  text-indent: 1em;
  font-weight: 500;
}

.related-articles {
  position: fixed;
  top: 35%;
  right: 0;
  display: none;
}

@media (min-width: 1205px) {
  .post {
    margin: 1em;
  }

  .related-articles {
    display: block;
  }
}

@media (min-width: 1600px) {
  .post {
    max-width: 1100px;
    margin-left: 2em;
  }
}

@media (min-width: 1900px) {
  .post {
    max-width: 1400px;
    margin-left: 2.5em;
  }
}
